.layered-paper { /* modified from: http://css-tricks.com/snippets/css/layered-paper/ */
    box-shadow:
            0px 0px 1px 1px rgba(0,0,0,0.35), /* The top layer shadow */
            5px 5px 0 0px #fff, /* The second layer */
            5px 5px 1px 1px rgba(0,0,0,0.35); /* The second layer shadow */
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 30px;
    margin-bottom: 5px;
}


/*************************************************
 *  Publications
 **************************************************/
.vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pub-title {
    font-weight: bold !important;
}

.li-cite-author a {
    font-weight: normal;
    color: #3170A5; 
}